.home_title_container{
  text-align: center;
}

.home_title_container > h1 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 4rem;
}

.home_title_container > p {
  font-size: 2rem;
}

.components_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
  margin-top: 2rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-width: 2px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding-bottom: 15px;
}